@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    list-style: none;
}
/* menu */
header nav {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 7vh;
    background: #fff;
    z-index: 1000;
}

.logo {
    letter-spacing: 1px;
    width: 40%;
}

.menu {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: flex-end;
    width: 60%;
    padding: 0;
    margin: 0;
}

.menu li {
    list-style: none;
    padding: 10px;
}

.menu a {
    color: #000;
    text-decoration: none;
    font-size: 1vw;
    padding: 5px;
    font-weight: 600;
    text-transform: uppercase;
    transition: all 300ms ease-in-out;
}

.menu a.active {
    color: #497bfc;
}

.bar {
    display: none;
    cursor: pointer;
}

.bar div {
    width: 25px;
    height: 3px;
    background-color: #000;
    margin: 5px;
    transition: all .5s ease;
}

@media screen and (max-width:1024px) {
    .logo {
        width: 30%;
    }

    .menu {
        width: 70%;
    }

    .menu a {
        font-size: 1.5vw;
    }
}

@media screen and (max-width:768px) {
    body {
        overflow-x: hidden;
    }

    .logo {
        width: 80%;
    }

    .menu {
        position: absolute;
        left: 0%;
        height: 1000vw;
        top: 3.8rem;
        background-color: #fff;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        width: 100%;
        transform: translateX(-100%);
        transition: transform 0.5s ease-out;
        z-index: 1000;
    }

    .menu a {
        font-size: 22px;
    }

    .bar {
        display: block;
        padding-left: 10px;
    }
}

.nav-active {
    transform: translateX(0%);
    height: 1000vw;
}

.bar-active .bar-1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.bar-active .bar-2 {
    opacity: 0;
}

.bar-active .bar-3 {
    transform: rotate(45deg) translate(-5px, -6px);
}

.banner {
    background: url(https://res.cloudinary.com/dj5vdnbai/image/upload/v1689608188/banner_vmjqpv.jpg);
    height: 60vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: -10;
    margin-top: 3.8rem;
}

.banner .content {
    position: absolute;
    bottom: 10%;
    left: 10%;
    color: white;
}

.banner .content .content-img {
    width: 20vw;
}

.banner .content .content-img img {
    width: 100%;
    height: 100%;
}

.banner .content h1 {
    font-family: 'Roboto', sans-serif;
    color: #fff;
    font-size: 2vw;
    line-height: 1.2;
    width: 50%;
    font-weight: 500;
}

.banner .content p {
    width: 50%;
    color: rgba(0, 0, 0, 0.6);
    line-height: 2;
}
.banner .convey_message {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .content h1 {
        font-size: 4vw;
    }

    .content p {
        width: 100%;
    }
}

@media screen and (max-width: 767px) {
    .banner {
        background-position: 60%;
        height: 42vw;
    }

    .banner .content h1 {
        font-size: 4vw;
        width: 75%;
    }

    .banner .content p {
        width: 100%;
    }
}

section {
    z-index: 99;
    position: relative;
    margin: 3%;
}

.tabs {
    width: 100%;
}

.tabs .tab-header {
    padding: 10px;
    display: flex;
    justify-content: center;
    width: 80%;
    margin: 0 auto 3%;

}

.tabs .tab-header>div {
    border: 1px solid #000;
    border-radius: 40px;
    position: relative;
    width: 25%;
    text-align: center;
    font-size: 18px;
    padding: 10px;
    margin: 0 10px;
    z-index: 2;
    font-weight: 600;
    text-transform: uppercase;
    color: #888;
    cursor: pointer;
    transition: all 300ms ease-in-out;
}

.tabs .tab-header>div.active {
    color: #fff;
    background-color: #497bfc;
    border: 1px solid;
}

.tabs .tab-body {
    height: calc(100% - 50px);
    overflow: hidden;

}

.tabs .tab-body>div {
    display: none;
    top: -100%;
    transform: translateY(-10px);
    transition: opacity 300ms ease-in-out,
        transform 300ms ease-in-out;
}

.tabs .tab-body>div.active {
    transform: translateY(0px);
    top: 30px;
    display: block;
}

.tabs .tab-body h1 {
    color: #222;
    margin-bottom: 10px;
}

.tabs .tab-body p {
    color: #555;
    font-size: 15px;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {}

@media screen and (max-width: 767px) {
    .tabs .tab-header {
        padding: 10px 0;
        width: 100%;
    }

    .tabs .tab-header>div {
        width: 50%;
        margin: 0 3px;
        padding: 3px;
        font-size: 14px;
    }
}

/* card */
.container,
.container_1 {
    max-width: 1600px;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
}

.container .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
    gap: 20px;
}

.container_1 .box-container_1 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
    gap: 20px;
}

.container .box-container .box,
.container_1 .box-container_1 .box {
    background-color: var(--box-color);
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    display: none;
    padding: 10px 0;
}

.container_1 .box-container_1 .box {
    padding: 10px;
}

.container_1 .box-container_1 .box .image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.container .box-container .box .sport,
.container_1 .box-container_1 .box .sport {
    padding: 10px 0;
}

.container .box-container .box .sport h3 {
    text-transform: uppercase;
    font-size: 16px;
    color: #fff;
    font-weight: 600;
}

.container_1 .box-container_1 .box .sport h3 {
    text-transform: uppercase;
    font-size: 20px;
    color: #0066ff;
    font-weight: 600;
    text-align: left;
}

.container .box-container .box .image {
    margin-bottom: 20px;
    overflow: hidden;
    height: 250px;
    border-radius: 5px;
}

.container .box-container .box:nth-child(1),
.container .box-container .box:nth-child(2),
.container .box-container .box:nth-child(3),
.container .box-container .box:nth-child(4),
.container .box-container .box:nth-child(5),
.container .box-container .box:nth-child(6),
.container_1 .box-container_1 .box {
    display: inline-block;
}


.container .box-container .box .image,
.container_1 .box-container_1 .box .image {
    margin-bottom: 20px;
    overflow: hidden;
    height: 250px;
    border-radius: 5px;
}

.container .box-container .box .content h3 {
    text-transform: uppercase;
    font-size: 16px;
    color: #fff;
    font-weight: 600;
}

#load-more {
    margin-top: 20px;
    display: inline-block;
    padding: 13px 30px;
    color: #0d6eff;
    font-size: 16px;
    background-color: #d6e6ff;
    cursor: pointer;
    width: 100%;
    border-radius: 10px;
    transition: all 300ms ease-in-out;
    text-transform: uppercase;
    font-weight: 600;
}

#hide-more {
    margin-top: 20px;
    display: none;
    padding: 13px 30px;
    color: #0d6eff;
    font-size: 16px;
    background-color: #d6e6ff;
    cursor: pointer;
    width: 100%;
    border-radius: 10px;
    transition: all 300ms ease-in-out;
    text-transform: uppercase;
    font-weight: 600;
}

#load-more:hover {
    background-color: crimson;
    border-color: crimson;
    color: #fff;
}

.container_1 .box-container_1 .box-menber {
    text-align: left;
    padding: 4px;
    border: 1px solid #555;
    border-radius: 5px;
}

.container_1 .box-container_1 .box-menber .title {
    margin: 5px 10px;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
}

.container_1 .box-container_1 .box-menber .title hr {
    margin: 0;
}

.container_1 .box-container_1 .box-menber .title hr::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

.container_1 .box-container_1 .box-menber .title hr::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
}

.container_1 .box-container_1 .box-menber .title hr::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #555;
}

.scrollable-menber {
    height: 150px;
    overflow-y: scroll;
}

.scrollable-menber::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

.scrollable-menber::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
}

.scrollable-menber::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #6b6b6b;
}

.scrollable-menber .listmenber {
    list-style-type: none;
    padding: 0;
}

.scrollable-menber li {
    margin: 9px 5px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #000;
}

.scrollable-menber li a {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
}

.container_1 .box-container_1 .price-combo {
    display: flex;
    justify-content: start;
}

.container_1 .box-container_1 .price-combo p {
    font-size: 18px;
    font-weight: 600;

}

@media (max-width:450px) {
    section {
        margin: 1%;
    }

    .container,
    .container_1 {
        padding: 5px;
    }

    .container .box-container {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }

    .container_1 .box-container_1 {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }

    .container .box-container .box .image,
    .container_1 .box-container_1 .box .image {
        height: 200px;
    }

    .container .box-container .box .content p {
        font-size: 12px;
    }

    .container .box-container .box .content .icons span {
        font-size: 12px;
    }

    .container_1 .box-container_1 .box {
        padding: 10px;
    }

    .container_1 .box-container_1 .box .sport h3 {
        font-size: 16px;
    }

    .container_1 .box-container_1 .box-menber .title,
    .scrollable-menber li {
        margin: 0;
        font-size: 14px;
    }

    .scrollable-menber li {
        font-size: 14px;
        margin: 5px 0;
    }
}

.introduce {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 5% auto;
    max-width: 1600px;
}

.introduce .title {
    margin-bottom: 2%;
}

.introduce .title h1 {
    text-align: center;
    font-weight: 700;
    font-size: 34px;
}

.introduce .description,
.block-banner .banner-content {
    width: 60%;
    margin: 0 auto;
}

.introduce .description p,
.block-banner .banner-content p {
    font-size: 20px;
    font-weight: 600;
    color: #383838;
}

.block-banner {
    margin: 5% 0;
}

.introduce .intro-img {
    margin: 5% auto;
    width: 100%;
}

.introduce .intro-img img {
    width: 100%;
    height: 100%;
}

@media (max-width:450px) {

    .introduce .description,
    .block-banner .banner-content {
        width: 90%;
    }
}

.block-carousel {
    display: flex;
    justify-content: center;
    width: 100%;
}

.block-carousel .row-carousel {
    width: 60%;
    margin: 0 auto;
}

.block-carousel .row-carousel .carousel-title {
    display: flex;
    justify-content: center;
}

.block-carousel .row-carousel .carousel-title h2 {
    font-size: 34px;
    font-weight: 600;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
}

.row-layout {
    display: flex;
    justify-content: center;
    align-items: center;
}

.block-img-1 {
    display: grid;
    grid-template-columns: 486px 477px;
    grid-template-rows: 331px 235px 363px;
    grid-template-areas:
        "h1 h2"
        "h1 h4"
        "h3 h4";
}

.block-img-1>div[class] {
    background: #ececec;
    display: grid;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
}

.block-img-1 .img-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.block-img-1 .img-item .text {
    position: absolute;
    top: 50%;
    right: 50%;
    left: 50%;
    width: 50%;
    transform: translate(-50%, -50%);
}

.block-img-1 .img-item p {
    font-size: 20px;
    color: #fff;
}


.block-img-1 .img-item:first-child {
    grid-area: h1;
}

.block-img-1 .img-item:nth-child(2) {
    grid-area: h2;
}

.block-img-1 .img-item:nth-child(3) {
    grid-area: h3;
}

.block-img-1 .img-item:last-child {
    grid-area: h4;
}

.row-bannner {
    position: relative;
    text-align: center;
    color: white;
    margin: 5% 0;
}

.row-bannner img {
    width: 100%;
    height: 100%;
}

.row-bannner .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.row-bannner .centered h1 {
    color: #000;
    text-transform: uppercase;
    font-size: 35px;
    font-weight: 600;
}

.row-bannner .centered p {
    color: #000;
    font-size: 16px;
}

.social_media {
    padding: 5%;
    width: 100%;
    display: flex;
    justify-content: center;
}

.social_media .social_image {
    position: relative;
    text-align: center;
    width: 100%;
    height: 100%;
}

.social_media .social_image>img {
    width: 100%;
}

.social_media .social_image .btn-social {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px 35px;
    background-color: #fff;
    border-radius: 10px;
}

.social_media .social_image .btn-social span {
    font-size: 16px;
    font-weight: 600;

}

@media screen and (max-width: 767px) {
    .block-img-1 {
        display: grid;
        grid-template-columns: 200px 170px;
        grid-template-rows: 129px 117px 156px;
        grid-template-areas:
            "h1 h2"
            "h1 h4"
            "h3 h4";
    }

    .introduce .description p,
    .block-banner .banner-content p {
        font-size: 14px;
    }

    .row-bannner .centered h1 {
        font-size: 3vw;
    }

    .row-bannner .centered p {
        font-size: 2.3vw;
    }

    .block-carousel .row-carousel {
        width: 100%;
    }

    .social_media {
        padding: 0;
    }
}


/* footer*/

